In [28]:
import pandas as pd
import logging
import json

In [25]:
logger = logging.getLogger()
logger.setLevel(logging.INFO)

In [34]:

def parse_csv(file="data.csv"):
    """
    :return: A pandas dataframe containing the data from the CSV.
    """
    df = pd.read_csv(file)
    logger.info(f"Read CSV file: {file}")
    return df


def get_pincode(df, pincode):
    """
    :param pincode: The pincode to search for.
    :return: The result of the search.
    """
    # convert pincode to integer
    try:
        pincode = int(pincode)
        logger.info(f"Converted pincode to integer: {pincode}")
        return df[df["pincode"] == pincode].to_dict(orient="records")
    except ValueError:
        logger.error(f"Invalid pincode: {pincode}")
        return "Invalid pincode"


def get_city(df, city):
    """
    :param city: The city to search for.
    :return: The result of the search.
    """
    try:
        return df[df["city"] == city].to_dict(orient="records")
    except ValueError:
        logger.error(f"Invalid city: {city}")
        return "Invalid city"


def filter_df(df, column, value):
    """
    :param df: The dataframe to filter.
    :param column: The column to filter on.
    :param value: The value to filter on.
    :return: The filtered dataframe.
    """
    return df[df[column] == value].to_dict(orient="records")


def get_results(event):
    """
    :param event: The event dict that contains the parameters sent when the function is invoked.
    :return: The result of the action.
    """
    response = {}
    df = parse_csv()
    for key, value in event.items():
        if key in df.columns:
            response[key] = filter_df(df, key, value)
        else:
            response[key] = "Invalid key"
    
    return response

In [38]:
def lambda_handler(event, context):
    """
    :param event: The event dict that contains the parameters sent when the function is invoked.
    :param context: The context in which the function is called.
    :return: The result of the action.
    """

    request_data = event.get("queryStringParameters", {})
    logger.info(f"Request data: {request_data}")
    logger.info(f"Event: {event}")
    querydict = dict(event, **request_data)
    logger.info(f"Querydict: {querydict}")

    # check for pincode/city in event and call appropriate function
    return {
        "statusCode": 200,
        "body": json.dumps(get_results(querydict)),
    }

In [37]:
lambda_handler({"pincode": 679102}, None)

{'pincode': 679102}
{'pincode': [{'countryCode': 'IN', 'pincode': 679102, 'placeName': 'Varode', 'state': 'Kerala', 'stateCode': 13, 'district': 'Palakkad', 'city': 'Ottappalam', 'lat': 10.7709, 'lon': 76.3784, 'accuracy': 1}, {'countryCode': 'IN', 'pincode': 679102, 'placeName': 'Thottakkara', 'state': 'Kerala', 'stateCode': 13, 'district': 'Palakkad', 'city': 'Ottappalam', 'lat': 10.7709, 'lon': 76.3784, 'accuracy': 1}, {'countryCode': 'IN', 'pincode': 679102, 'placeName': 'Veetampara', 'state': 'Kerala', 'stateCode': 13, 'district': 'Palakkad', 'city': 'Ottappalam', 'lat': 10.7709, 'lon': 76.3784, 'accuracy': 1}]}

{'statusCode': 200,
 'body': '{"pincode": [{"countryCode": "IN", "pincode": 679102, "placeName": "Varode", "state": "Kerala", "stateCode": 13, "district": "Palakkad", "city": "Ottappalam", "lat": 10.7709, "lon": 76.3784, "accuracy": 1}, {"countryCode": "IN", "pincode": 679102, "placeName": "Thottakkara", "state": "Kerala", "stateCode": 13, "district": "Palakkad", "city": "Ottappalam", "lat": 10.7709, "lon": 76.3784, "accuracy": 1}, {"countryCode": "IN", "pincode": 679102, "placeName": "Veetampara", "state": "Kerala", "stateCode": 13, "district": "Palakkad", "city": "Ottappalam", "lat": 10.7709, "lon": 76.3784, "accuracy": 1}]}'}

In [17]:
df = parse_csv()

In [6]:
df

,countryCode,pincode,placeName,state,stateCode,district,city,lat,lon,accuracy
0,IN,744101,Marine Jetty,Andaman & Nicobar Islands,1,South Andaman,Portblair,11.6667,92.7500,3
1,IN,744101,Port Blair,Andaman & Nicobar Islands,1,South Andaman,Port Blair,11.6667,92.7500,4
2,IN,744101,N.S.Building,Andaman & Nicobar Islands,1,South Andaman,Portblair,11.6667,92.7500,3
3,IN,744102,Haddo,Andaman & Nicobar Islands,1,South Andaman,Port Blair,11.6833,92.7167,4
4,IN,744102,Chatham,Andaman & Nicobar Islands,1,South Andaman,Portblair,11.7000,92.6667,3
...,...,...,...,...,...,...,...,...,...,...
154804,IN,509412,Mustipally,Telangana,40,Mahabub Nagar,Peddakothapally,16.6514,78.0760,3
154805,IN,509412,Peddakarpamula,Telangana,40,Mahabub Nagar,Peddakothapally,16.6514,78.0760,3
154806,IN,509412,Gantaraopally,Telangana,40,Mahabub Nagar,Peddakothapally,16.6514,78.0760,3
154807,IN,509412,Ganyagula,Telangana,40,Mahabub Nagar,Nagarkurnool,16.6514,78.0760,3
154808,IN,509412,D.Thirumalapur,Telangana,40,Mahabub Nagar,Peddakothapally,16.6514,78.0760,3

In [20]:
get_pincode('679102')

{'countryCode': 'IN',
 'pincode': 679102,
 'placeName': 'Varode',
 'state': 'Kerala',
 'stateCode': 13,
 'district': 'Palakkad',
 'city': 'Ottappalam',
 'lat': 10.7709,
 'lon': 76.3784,
 'accuracy': 1}

In [23]:
ev = {'pincode': '679102'}
rd = {}

ev.update(rd)
ev

{'pincode': '679102'}